
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/ca/.DS_Store
src/main/java/ca/utoronto/.DS_Store
src/main/java/ca/utoronto/utm/.DS_Store
/target/
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.project
.classpath
.settings/org.eclipse.jdt.apt.core.prefs
.factorypath
